name: pr-merge-queue.yml
on:
  workflow_dispatch:
  merge_group:
  pull_request:


jobs:
  npm-test:
    name: NPM test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npx vitest run

  type-check:
    name: Type check with vue-tsc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npx vue-tsc

  npm-build-only:
    name: Build with NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npm run build-only

  npm-check-biome:
    name: Check formatting, lint, and import sorting with biome
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@dda4788290998366da86b6a4f497909644397bb2
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npx biome ci
