name: pr-merge-queue.yml
on:
  workflow_dispatch:
  merge_group:
  pull_request:


jobs:
  npm-test:
    name: NPM test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@b9b25d45f70a5d94d88496aa4896bf9ed8f49b67
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npx vitest run

  type-check:
    name: Type check with vue-tsc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@b9b25d45f70a5d94d88496aa4896bf9ed8f49b67
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npx vue-tsc

  npm-build-only:
    name: Build with NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@b9b25d45f70a5d94d88496aa4896bf9ed8f49b67
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npm run build-only

  npm-check-biome:
    name: Check formatting, lint, and import sorting with biome
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@b9b25d45f70a5d94d88496aa4896bf9ed8f49b67
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npx biome ci
