name: pr-merge-queue.yml
on:
  workflow_dispatch:
  merge_group:
  pull_request:


jobs:
  npm-test:
    name: NPM test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npx vitest run

  type-check:
    name: Type check with vue-tsc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npx vue-tsc

  npm-build-only:
    name: Build with NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npm run build-only

  npm-check-biome:
    name: Check formatting, lint, and import sorting with biome
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version-file: '.node-version'
      - run: npm clean-install
      - run: npx biome ci
